// Fonts
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Playfair Display', serif;

// Colors
$color-accent: #ad7411;
$color-accent-lighter: #cd9023;
$black: #101012;
$gray-dark: #353434;
$gray: #4e4e4e;
$gray-light: #adabac;
$gray-lighter: #d4d3d3;
$gray-lightest: #f7f3f3;
$yellow-light: #f4e1c0;
$off-white: #fdf9ed;
